@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

// --------------------------------------------------------
// Common
//

$default-font-size: 32px;
$default-font-color: #333;
$base-color: #3498db;
$base-pressed-color: #2980b9;
$border-color: #95a5a6;

$red: #e74c3c;
$dark-red: #c0392b;

$orange: #e67e22;
$dark-orange: #d35400;

$grey: #95a5a6;
$dark-grey: #7f8c8d;

$clouds: #ecf0f1;
$dark-clouds: #bdc3c7;

body {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 100;
	font-size: $default-font-size !important;
	color: $default-font-color;
}

a {
	color: $base-color;
	text-decoration: none;

	&:hover {
		color: $base-pressed-color;
	}
}

b {
	font-weight: 400;
}

@mixin padded-view() {
	padding: 20px !important;
}

.x-field {
	border: 1px solid $border-color !important;
	font-size: $default-font-size - 14;
	margin-bottom: 10px;

	input {
		padding: 0px 7px;
	}
}

.button {
	background-color: $base-color;
	height: 45px;
	font-size: $default-font-size - 8;
	margin-bottom: 10px;
	border: none;

	.x-button-label {
		font-family: 'Yanone Kaffeesatz', sans-serif;
		color: #fff;
		font-weight: 400;
		padding: 8px 0 9px 0;
	}

	&.x-button-pressing {
		background-color: $base-pressed-color;
	}

	&.icon {
		font-size: $default-font-size - 10;

		.x-button-label {
			padding: 10px 0 11px 0;
			text-align: left;

			.label {
				padding-top: 5px;
			}
		}

		.icon {
			margin: 0 10px 0 10px;
			vertical-align: middle;
			background-size: 24px 24px;
			display: inline-block;
			width: 24px;
			height: 24px;

			&.heart {
				background-image: url(../images/icons/heart.png);
			}

			&.eye {
				background-image: url(../images/icons/eye.png);
			}
		}
	}

	&.red {
		background-color: $red;

		&.x-button-pressing {
			background-color: $dark-red;
		}
	}

	&.orange {
		background-color: $orange;

		&.x-button-pressing {
			background-color: $dark-orange;
		}
	}

	&.inline-button {
		height: 35px;
		padding-left: 10px;
		padding-right: 10px;

		.x-button-label {
			font-size: $default-font-size - 14;
		}
	}
}
	
.title-toolbar {
	background-color: $base-color;
	font-size: $default-font-size - 4;
	color: #fff;
	width: 100%;
	text-align: center;
	height: 50px;
	padding-top: 9px;

	.label {
		width: 100%;
	}

	.toolbar-button {
		margin: 5px 0 0 10px;
	}
}

.icon {
	background-size: 24px 24px;
	display: inline-block;
	width: 24px;
	height: 24px;

	&.heart-red {
		background-image: url(../images/icons/heart-red.png);
	}

	&.cam-grey {
		background-image: url(../images/icons/cam-grey.png);
	}

	&.checked-green {
		background-image: url(../images/icons/checked-green.png);
	}

	&.back {
		background-image: url(../images/icons/back.png);
	}
}

.hidden {
	display: none;
}

// --------------------------------------------------------
// Splash
//

.splash {
	@include padded-view();
	background-color: $base-color;
	color: #fff;

	.logo {
		background-image: url(../images/logo.png);
		background-size: 230px 230px;
		width: 230px;
		height: 230px;
		margin: 50px auto 0 auto;
	}

	.title {
		font-size: 48px;
		width: 100%;
		text-align: center;
	}

	.footer {
		width: 247px;
		font-size: $default-font-size - 8;
		text-align: center;
		margin: 0 auto 20px auto;

		.label {
			padding-top: 27px;
			margin-right: 5px;
			height: 68px;
		}

		.chaya-logo {
			background-image: url(../images/cf-logo-inverted.png);
			width: 150px;
			height: 68px;
		}
	}
}

// --------------------------------------------------------
// Sign in
//
.signin {
	background-color: #fff;

	.content {
		@include padded-view();

		.header {

			font-size: $default-font-size - 8;
			margin-bottom: 20px;

			.logo {
				background-image: url(../images/cf-logo.png);
				background-size: 70px 70px;
				height: 70px;
				width: 70px;
				margin-right: 20px;
			}

		}

		.footer {
			font-size: $default-font-size - 12px;
			text-align: center;
		}
	}
}

// --------------------------------------------------------
// Sign up
//
.signup {
	background-color: #fff;

	.content {
		@include padded-view();

		.header {

			font-size: $default-font-size - 8;
			margin-bottom: 20px;

			.logo {
				background-image: url(../images/cf-logo.png);
				background-size: 70px 70px;
				height: 70px;
				width: 70px;
				margin-right: 20px;
			}

		}

		.footer {
			font-size: $default-font-size - 12px;
			text-align: center;
		}
	}
}

// --------------------------------------------------------
// Facebook Connect
//
.facebook-connect {
	background-color: #fff;

	.content {
		@include padded-view();

		.header {
			margin-bottom: 20px;

			.chaya-logo {
				background-image: url(../images/cf-logo.png);
				background-size: 70px 70px;
				height: 70px;
				width: 70px;
				margin-right: 10px;
			}

			.arrow {
				background-image: url(../images/arrow.png);
				background-size: 62px 17px;
				width: 62px;
				height: 17px;
				margin-right: 10px;
			}

			.facebook-logo {
				background-image: url(../images/facebook-logo.png);
				background-size: 70px 70px;
				height: 70px;
				width: 70px;
				margin-right: 20px;
			}
		}

		.description {
			font-size: $default-font-size - 8;
			text-align: center;
			margin-bottom: 40px;
		}
	}
}

// --------------------------------------------------------
// Home
//
.home {
	background-color: #fff;

	.content {
		@include padded-view();

		.stats {
			background-image: url(../images/stats.png);
			background-size: 180px 180px;
			height: 180px;
			width: 180px;
			margin: 0 auto 20px auto;
		}
	}
}

// --------------------------------------------------------
// Person List
//
.person-list {
	background-color: #fff;

	.content {
		@include padded-view();

		.item {
			height: 100px;

			.pic {
				float: left;
				margin-right: 20px;

				img {
					-webkit-mask-image: url(../images/pic-mask.png);
					width: 100px;
					height: 100px;
				}
			}

			.description {
				.seen {
					font-size: $default-font-size - 16px;
					color: $grey;
					margin-bottom: 10px;
				}

				.icons {
					.set {
						float: left;
						margin-right: 20px;
					}
				}
			}
		}

		.item-tapped, .item-selected {
			background-color: #eee;
		}
	}
}

// --------------------------------------------------------
// Profile
//
.profile {
	background-color: #fff;

	.content {
		.header {
			@include padded-view();

			.profile-pic {
				-webkit-mask-image: url(../images/pic-mask.png);
				width: 100px;
				height: 100px;
				margin-right: 20px;
			}

			.name {
				font-size: $default-font-size - 8;
			}

			.seen {
				font-size: $default-font-size - 16;
				color: $grey;
				margin-bottom: 10px;
			}
		}

		.links {
			border-top: 1px solid $dark-clouds;

			.profile-button {
				background-color: $clouds;
				font-size: $default-font-size - 12;
				width: 50%;
				padding: 5px 10px;

				.x-button-label {
					font-weight: 100;
				}

				.icon {
					float: left;
					margin: 10px 15px 10px 10px;
				}

				.label {
					text-align: left;
					display: inline-block;
					width: 80px;
					float: left;
				}

				&.x-button-pressing, &.active {
					background-color: $dark-clouds;
				}
			}
		}

		.pages-list {
			.item {
				height: 80px;

				.pic {
					float: left;
					margin-right: 20px;
			
					img {
						width: 80px;
						height: 80px;
					}
				}

				.name {

				}

				.category {
					font-size: $default-font-size - 16;
					color: $grey;
				}
			}

			.item-tapped, .item-selected {
				background-color: #eee;
			}
		}
	}
}

// --------------------------------------------------------
// Wanted
//
.wanted {
	background-color: #fff;

	.content {
		.item {
			height: 100px;

			.pic {
				float: left;
				margin-right: 20px;

				img {
					-webkit-mask-image: url(../images/pic-mask.png);
					width: 100px;
					height: 100px;
				}
			}

			.description {
				.name {
					margin-bottom: 10px;
				}
			}
		}

		.item-tapped, .item-selected {
			background-color: #eee;
		}
	}
}

// --------------------------------------------------------
// find
//
.find {
	background-color: #fff;

	.content {
		@include padded-view();

		.header {

			margin-bottom: 20px;

			.profile-pic {
				-webkit-mask-image: url(../images/pic-mask.png);
				width: 100px;
				height: 100px;
				margin-right: 20px;
			}

			.description {
				font-size: $default-font-size - 8;
				width: 55%;
			}
		}

		.qr-wrapper {
			border-top: 1px solid $border-color;
			padding: 20px;

			.qr {
				background-image: url(../images/sample-qr.png);
				background-size: 160px 160px;
				width: 160px;
				height: 160px;
				margin: 0 auto;
			}
		}
	}
}













